*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}
h1{
    color: aliceblue;
    padding-top:50px;
}
.container{
    width: 340px;
    height: 450px;
    margin-top: 70px;
    padding: 10px;
    padding-top: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    background-color: black;
}
.input{
    width: 96.5%;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: white;
    float: right;
    text-align:end;
    display: flex;
    justify-content:end;
    align-items: end;
    font-size: 30px;
    padding-right: 5px;
}
.btns{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-gap: 10px;
    padding-top:100px;
    padding-left: 5px;
}
.btn{
    background-color: #292828;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-weight:bolder;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.1s;
}
.btn:not(.eql):hover{
    box-shadow: 1px 0px 10px rgba(255, 255, 255, 0.478);
}
.btn:active{
    transform: scale(0.98);
}
.del{
    font-size: 20px;
}
.div{
    font-size: 25px;
}
.sub{
    font-size: 35px;
}
.eql{
    background-color: #dd541a;
}
